.header {
  padding: 15px 0;
  border-bottom: 1px solid var(--gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  color: var(--black);
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: 800;
}

.header p {
  color: var(--gray-dark);
}

.logo {
  display: flex;
  margin: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
